<p></p>
<h3>Информация о товаре</h3>

<table cellpadding="50">
    <tr>
        <td>
            <img ng-src="{{prod.photo}}" width="300">
        </td>
        <td valign="top" >
            <p>
            <h4>{{prod.title}}</h4>
            {{prod.category}}
            <br>
            Цена:
            <h5>{{prod.price}} руб.</h5>
            </p>
        </td>
    </tr>
</table>
<p></p>

<h3>Отзывы</h3>

<div class="navbar bg-light" ng-show="feedbacks.length == 0">
    <span>Об этом товаре пока нет отзывов</span>
</div>
<p></p>

<table class="table" ng-show="feedbacks.length > 0">
    <thead>
    <tr>
        <th scope="col">Дата</th>
        <th scope="col">Покупатель</th>
        <th scope="col">Сообщение</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="feedback in feedbacks">
        <th scope="row">{{feedback.date}}</th>
        <td>{{feedback.username}}</td>
        <td>{{feedback.message}}</td>
    </tr>
    </tbody>
</table>

<div ng-show="isUserLoggedIn()">
    <form novalidate ng-submit="saveMessage()">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Оставить отзыв о товаре {{prod.title}}</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ng-model="message"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary">Отправить</button>
    </form>
</div>

<span>{{}}</span>